<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card" style="width: 100%; max-width: 18rem;"></div>
  <img src="{{oneProduct.img}}" style="width: 500px" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{oneProduct.title}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">${{oneProduct.price}}</li>
    <li class="list-group-item">{{oneProduct.stock}}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Add to cart</a>
  </div>
 </div>
</div>